<div layout="column">
    <md-toolbar style="background-color:#20252A">
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <md-button>CREATION DE PERSONNAGE</md-button>
            <!--<md-icon style="color:white" md-svg-icon="chevron-right"></md-icon>-->
            <span>></span>
            <md-button>INITIALISATION</md-button>
        </div>
    </md-toolbar>


    <div class="jumbotron text-center" style="padding-bottom:0 !important"> <!--style="margin:20px 60px 0 60px; padding-bottom:5px !important"-->
        <img src="../../img/Untitled.png" style="border:2px solid #20252A" />
        <h1>Création de personnage</h1>
        <p>Un héros du <span class="text-danger">neuvième</span> monde</p>
    </div>

    <div id="herocontent" layout="column" layout-align="center center">
        <div>
            <md-subheader id="header">Initialisation</md-subheader>
            <div id="herodata">
                <span>Je suis un </span>
                <md-input-container>
                    <label style="color:indianred">Nom</label>
                    <md-select ng-model="genCtrl.currentHero.noun">
                        <md-option ng-repeat="noun in genCtrl.heroesData.nouns" value="{{noun.label}}">
                            {{noun.label}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <span> </span>
                <md-input-container>
                    <label style="color:darkseagreen">Adjectif</label>
                    <md-select ng-model="genCtrl.currentHero.adjective">
                        <md-option ng-repeat="adj in genCtrl.heroesData.adjectives" value="{{adj.label}}">
                            {{adj.label}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <span> qui </span>
                <md-input-container>
                    <label style="color:cornflowerblue">Verbe</label>
                    <md-select ng-model="genCtrl.currentHero.verb">
                        <md-option ng-repeat="verb in genCtrl.heroesData.verbs" value="{{verb.label}}">
                            {{verb.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>

</div>