<div id="navigation" layout="column" layout-align="top center">

    <div id="nav-header" style="padding:19px;height:150px" layout="column" layout-align="center center">
        <a ui-sref="home"><img src="../../img/LogoWhite200.png" alt=""></a>
    </div>

    <md-list ng-cloak flex>
        <md-list-item ui-sref="{{mod.state}}" ng-click="select(mod)" ng-repeat="mod in navModules" md-no-ink ng-class="{selected: isSelected(mod)}">

            <md-icon style="color:grey" md-svg-icon="{{mod.icon}}"></md-icon>
            <p style="text-transform:uppercase;color:grey"> {{ mod.label }} </p>

        </md-list-item>
    </md-list>

</div>